=form_with model: @draft, id: 'form', local: true do |f|
  .form-attributes
    .form-inline.form-group
      = f.label :name, 'Form title:'
      = f.text_field :name, required: true, size: 50, class: 'form-control'
    .form-inline.form-group
      = f.label :email, 'Form email destination:'
      = f.text_field :email, required: true, size: 50, class: 'form-control' 
    .form-inline.form-group
      = f.label :reply_to, 'Set reply-to address'
      = f.text_field :reply_to, size: 50, class: 'form-control'
  .container
    .row.headers
      .col-3 Field text
      .col-2 Example response
      .col-2 Response type
      .col Required?
      .col Options
      .col
  .container.sortable
    = f.fields_for :fields do |g|
      - field = g.object
      .row.padded-field
        %span.grabbable-number.btn.btn-primary #{field.number}
        .col-3
          .prompt= g.text_area :prompt, size: '30x4', class: 'form-control'
        .col-2
          -if field.takes_placeholder?
            .placeholder= g.text_field :placeholder, class: 'form-control'
        .col-2
          .data-type= g.select :data_type, Field::DATA_TYPES,
            {include_blank: 'Select a data type...'}, {class: 'form-control'}
        .col
          .required= g.check_box :required
        .col.options
          - if field.data_type == 'options'
            = g.text_area :options,
              value: field.options.join(', '),
              placeholder: 'add options separated by a comma',
              size: '10x4',
              class: 'form-control'
        .col
          .remove.btn-sm.btn-outline-danger Remove
  .container
    .row
      .col-2
        .btn.btn-secondary#add-new Add new field
      .col
        = f.submit 'Save draft and preview changes', id: 'save', class: 'btn btn-primary'
.container
  .row
    .col-2
    .col
      - if @draft.persisted?
        = button_to 'Discard draft', @draft, method: :delete, class: 'btn btn-danger'
      - else
        = button_to 'Cancel', forms_url, method: :get, class: 'btn btn-secondary'
