=form_with model: @draft, id: 'form', local: true, data: { id: @draft.form_id } do |f|
  .form-attributes
    .form-inline.form-group
      = f.label :name, 'Form title:'
      = f.text_field :name, required: true, size: 50, class: 'form-control'
    .form-inline.form-group
      = f.label :email, 'Form email destination:'
      = f.text_field :email, required: true, size: 50, class: 'form-control' 
    .form-inline.form-group
      = f.label :reply_to, 'Set reply-to address'
      = f.text_field :reply_to, size: 50, class: 'form-control'
  .container
    .row.headers
      .col-3 Field text
      .col-2 Example response
      .col-2 Response type
      .col Required?
      .col-2 Options
      .col
  .container.sortable
    Click to drag..
    = f.fields_for :fields do |g|
      - field = g.object
      .row.padded-field
        %span.grabbable-number.btn.btn-info #{field.number}
        .col-3
          .prompt= g.text_area :prompt, size: '30x4', class: 'form-control'
        .col-2
          .placeholder= g.text_field :placeholder if field.takes_placeholder?
        .col
          .data-type= g.select :data_type, Field::DATA_TYPES,
            include_blank: 'Select a data type...'
        .col
          .required= g.check_box :required
        .col-2.options
          - if field.data_type == 'options'
            = g.text_area :options,
              value: field.options.join(', '),
              placeholder: 'add options separated by a comma',
              size: '10x4',
              class: 'form-control'
        .col
          .remove.btn-sm.btn-outline-danger Remove
  .container
    .col
      .btn.btn-secondary#add-new Add new field
  .actions
    = f.submit 'Save draft and preview changes', id: 'save'
.actions
  - if @draft.persisted?
    = button_to 'Discard changes', @draft, method: :delete
  - else
    = button_to 'Cancel', forms_url, method: :get
