%h1.title Editing #{@draft.form.name}

= form_for @draft do |f| 
  %table#edit_form
    %tr
      %td{colspan: 6}
        = f.label :name, 'Change form title:'
        = f.text_field :name, required: true, size: 50
    %tr
      %th Field text
      %th Response type
      %th Required?
      %th
      %th
      %th
    = f.fields_for :fields do |g|
      %tr
        = g.hidden_field :number
        %td= g.text_area :prompt, required: !g.object.new_record?, size: '35x4'
        %td= g.select :data_type, Field::DATA_TYPES,
          include_blank: 'Select a data type...', required: !g.object.new_record?
        %td= g.check_box :required
        - if g.object.new_record?
          %td{colspan: 3} (new field)
        - else 
          %td= button_to 'Move up', nil, disabled: true
          %td= button_to 'Move down', nil, disabled: true
          %td= button_to 'Remove field',
            remove_field_form_draft_path(number: g.object.number)
      
  .actions
    = f.submit 'Save changes and continue editing'
    = f.submit 'Preview changes'
