#form_preview_message
  This is a preview of your changes.
  This form, as shown here, is not live.

.form
  %h1.title= @draft.name
  %strong
    Fields marked with an asterisk (
    %span.ast *
    ) are required.
  = form_tag controller: :forms, action: :submit, id: @draft.form.id do
    = fields_for :user do |u|
      .field
        .heading Please complete the following personal information.
        //.explanation You will be able to log in and review your submission.
      - [:first_name, :last_name, :email].each do |field|
        .field
          .label= u.label field
          = u.text_field field, size: 50, required: true,
            value: @current_user.try(field)
          %span.ast *
    = fields_for :responses do |r|
      - @draft.fields.each do |field|
        - if field.heading?
          .heading= field.prompt
        - elsif field.explanation?
          .explanation= field.prompt
        - else
          .field
            .label= r.label field.prompt
            - case field.data_type
              - when 'date', 'date/time', 'text', 'time'
                = r.text_field field.prompt, required: field.required?,
                  placeholder: field.placeholder, size: 45,
                  class: input_class(field.data_type)
              - when 'long-text'
                = r.text_area field.prompt, required: field.required?,
                  placeholder: field.placeholder, size: '36x4'
              - when 'number'
                = r.number_field field.prompt, required: field.required?
              - when 'yes/no'
                Yes
                = r.radio_button field.prompt, 'yes', required: field.required?
                No
                = r.radio_button field.prompt, 'no', required: field.required?
              - when 'options'
                = r.select field.prompt,
                  options_for_select(field.options),
                  include_blank: 'Please select an option...',
                  required: field.required?
            - if field.required
              %span.ast *
    .actions= submit_tag 'Submit request', disabled: true

.form
  .actions
    = button_to 'Continue editing', edit_form_draft_url(@draft), method: :get
    = button_to 'Discard changes', @draft, method: :delete
    = button_to 'Save form', update_form_form_draft_url(@draft)
