#form-preview-message
  This is a preview of your changes.
  This form, as shown here, is not live.
  %br
  This form will email to '#{@draft.email}'.

.form
  %h1.title= @draft.name
  %strong
    Fields marked with an asterisk (
    %span.ast *
    ) are required.
  = form_tag controller: :forms, action: :submit do
    = fields_for :user do |u|
      .field
        .explanation
          This is the information we will use to confirm the
          request. Please fill in any fields that have missing
          or incorrect data.
      - %i[first_name last_name email].each do |field|
        .field
          .label= u.label field
          = u.text_field field, size: 50,
            value: @current_user.try(field) || @placeholder.try(field),
            required: true
          %span.ast *
    = fields_for :responses do |r|
      - @draft.fields.each do |field|
        - if field.heading?
          .heading= field.prompt
        - elsif field.explanation?
          .explanation= field.prompt
        - else
          .field
            .label= r.label field.prompt, field.prompt
            - case field.data_type
              - when 'date', 'date/time', 'text', 'time'
                = r.text_field field.prompt, required: field.required?,
                  placeholder: field.placeholder, size: 45,
                  class: input_class(field.data_type)
              - when 'long-text'
                = r.text_area field.prompt, required: field.required?,
                  placeholder: field.placeholder, size: '36x4'
              - when 'number'
                = r.number_field field.prompt, required: field.required?
              - when 'yes/no'
                Yes
                = r.radio_button field.prompt, 'yes', required: field.required?
                No
                = r.radio_button field.prompt, 'no', required: field.required?
              - when 'options'
                = r.select field.prompt,
                  options_for_select(field.options),
                  include_blank: 'Please select an option...',
                  required: field.required?
            - if field.required
              %span.ast *
    .actions= submit_tag 'Submit request', disabled: true

.container
  .row
    .col
      = link_to 'Continue editing', edit_form_draft_path(@draft), class: 'btn btn-secondary'
    .col
      = link_to 'Save draft & go back to index', forms_path, class: 'btn btn-secondary'
    .col
      = button_to 'Cancel and discard draft', @draft, method: :delete, class: 'btn btn-danger'
    .col
      = button_to 'Publish form and discard draft', update_form_form_draft_path(@draft), class: 'btn btn-primary'
