#form-preview-message
  This is a preview of your changes.
  This form, as shown here, is not live.
  %br
  This form will email to '#{@draft.email}'.

%h1.title= @draft.name

= render partial: 'forms/form', locals: { form: @draft, disabled: true }

.container
  .row
    .col
      = link_to 'Continue editing',
        edit_form_draft_path(@draft), class: 'btn btn-secondary'
    .col
      = link_to 'Save draft & go back to index',
        forms_path, class: 'btn btn-secondary'
    .col
      = button_to 'Cancel and discard draft',
        @draft, method: :delete, class: 'btn btn-danger'
    .col
      = button_to 'Publish form and discard draft',
        update_form_form_draft_path(@draft), class: 'btn btn-primary'
