=form_with model: @form do |f|
  .form-inline.form-group
    = f.label :name, 'Form title:'
    = f.text_field :name, required: true, size: 50, class: 'form-control'
  .form-inline.form-group
    = f.label :email, 'Form email destination:'
    = f.text_field :email, required: true, size: 50, class: 'form-control'
  .form-inline.form-group
    = f.label :reply_to, 'Set reply-to address'
    = f.text_field :reply_to, size: 50, class: 'form-control'
  .container
    .row.headers
      .col-md-3 Field text
      .col-md-2 Example response
      .col-md-2 Response type
      .col-md-2 Required?
      .col-md-2 Options
  .container.sortable
    Click to drag..
    = f.fields_for :fields do |g|
      - field = g.object
      .row.padded-field
        = g.hidden_field :number
        %span.grabbable.btn.btn-default #{field.number}
        .col-md-3
          = g.text_area :prompt, size: '35x4', class: 'form-control'
        .col-md-2.placeholder
          = g.text_field :placeholder if field.takes_placeholder?
        .col-md-2
          .data-type= g.select :data_type, Field::DATA_TYPES,
            include_blank: 'Select a data type...'
        .col-md-2
          .required= g.check_box :required
        .col-md-3
          - if field.data_type == 'options'
            - field.options.each do |option|
              %li= option
            %li= link_to 'Configure options', edit_field_path(field)
        .col-md-1
          .remove.btn.btn-default Remove field
  .container
    .col-md-3
      #add-new.btn.btn-default Add new field
  .actions
    = submit_tag 'Save and preview', id: '#save'
    = submit_tag 'Cancel', id: '#trash'
    = submit_tag 'Save as draft'
