.form
  %h1.title Editing #{@form.name}

= form_for @form, url: { action: :preview }, method: :post do |f| 
  .field
    = f.label :name
    = f.text_field :name, required: true
  = f.fields_for :fields, @form.fields do |g|
    .field
      = g.label :prompt
      = g.text_area :prompt, required: true, size: '30x4'
      = g.label :data_type
      = g.select :data_type, Field::DATA_TYPES
      = g.label :required
      = g.check_box :required
  .action= f.submit 'Preview changes'
