.form
  %h1.title Editing #{@form.name}

  = form_for @form, url: { action: :preview }, method: :get  do |f| 
    .heading Form data
    .field
      .label= f.label :name, 'Form title'
      = f.text_field :name, required: true, size: 50
    .actions= f.submit 'Preview changes'
