.form
  %h1.title Editing #{@form.name}

  = form_for @form, url: { action: :preview }, method: :post do |f| 
    %table#edit_form
      %thead
        %tr
          %th Field text
          %th Response type
          %th Required?
      = f.fields_for :fields, @form.fields do |g|
        %tr
          %td= g.text_area :prompt, required: true, size: '35x4'
          %td= g.select :data_type, Field::DATA_TYPES
          %td= g.check_box :required
      %tr
        %td{colspan: 3}
          .field
            = f.label :name, 'Form title'
            = f.text_field :name, required: true, size: 50
    .actions= f.submit 'Preview changes'
