%h1.title Forms

%table#forms_table
  - @forms.each do |form|
    %tr
      %td= form.name
      %td= link_to 'View', form_url(form, no_submit: true)
      %td= link_to 'Edit', edit_form_url(form)
      %td= link_to 'Delete', form_path(form), method: :delete,
      data: {confirm: "Are you sure you want to delete #{form.name}?"}
.actions= link_to 'New form', new_form_path
