%h1.title Forms

%table#forms_table
  - @forms.each do |form|
    %tr
      %td= form.name
      %td= link_to 'View', form_url(form, no_submit: true)
      %td
        - if form.draft
          = link_to 'Resume editing saved draft' # edit_form_draft_path(form.draft)
          = button_to 'Discard saved draft' # form_draft_path(form.draft), method: :delete
        - else
          = link_to 'Edit' #new_form_draft_path(form_id: form.id)
      %td= link_to 'Delete', form_path(form), method: :delete,
      data: {confirm: "Are you sure you want to delete #{form.name}?"}
.actions= link_to 'New form', new_form_path
