%h1.title Previewing changes
This form is not live. To save your changes as shown below, click 'Save changes'.

.form
  %h1.title= @form.name
  %strong
    Fields marked with an asterisk (
    %span.ast *
    ) are required.
  - @form.fields.each do |field|
    - if field.heading?
      .heading= field.prompt
    - elsif field.explanation?
      .explanation= field.prompt
    - else
      .field
        .label= label_tag field.prompt
        - case field.data_type
          - when 'date', 'date/time', 'text', 'time'
            = text_field_tag field.prompt, '', required: field.required?,
              class: input_class(field.data_type), size: 45
          - when 'long-text'
            = text_area_tag field.prompt, '', required: field.required?,
              size: '36x4'
          - when 'number'
            = number_field_tag field.prompt, nil, required: field.required?
          - when 'yes/no'
            Yes
            = radio_button_tag field.prompt, 'yes', required: field.required?
            No
            = radio_button_tag field.prompt, 'no', required: field.required?
          - when 'options'
            = select_tag field.prompt,
              options_for_select(field.options),
              include_blank: (field.required? ? 'Please select an option...' : true),
              required: field.required?
        - if field.required
          %span.ast *

  = form_tag action: :update, id: @form.id, form: @changes do
    .actions= submit_tag 'Save changes'
