/ This page is mirrored at form_drafts/show. If you make any edits to this page,
/ please reflect them at form_drafts/show.
.form
  %h1.title= @form.name
  = hidden_field @form, @form.reply_to
  %strong
    Fields marked with an asterisk (
    %span.ast *
    ) are required.
  = form_tag action: :submit, id: @form.id do
    = fields_for :user do |u|
      .field
        .heading Please complete the following personal information.
        //.explanation You will be able to log in and review your submission.
      - [:first_name, :last_name, :email].each do |field|
        .field
          .label= u.label field
          = u.text_field field, size: 50, required: true,
            value: @current_user.try(field)
          %span.ast *
    = fields_for :responses do |r|
      - @form.fields.each do |field|
        - if field.heading?
          .heading= field.prompt
          = r.hidden_field field.unique_heading_name, value: field.prompt
        - elsif field.explanation?
          .explanation= field.prompt
        - else
          .field
            .label= r.label field.prompt
            - case field.data_type
              - when 'date', 'date/time', 'text', 'time'
                = r.text_field field.unique_name, required: field.required?,
                  placeholder: field.placeholder, size: 45,
                  class: input_class(field.data_type)
              - when 'long-text'
                = r.text_area field.unique_name, required: field.required?,
                  placeholder: field.placeholder, size: '36x4'
              - when 'number'
                = r.number_field field.unique_name, required: field.required?
              - when 'yes/no'
                Yes
                = r.radio_button field.unique_name, 'yes',
                  required: field.required?
                No
                = r.radio_button field.unique_name, 'no',
                  required: field.required?
              - when 'options'
                = r.select field.unique_name,
                  options_for_select(field.options),
                  include_blank: 'Please select an option...',
                  required: field.required?
            - if field.required
              %span.ast *
            = r.hidden_field field.unique_prompt_name, value: field.prompt
    .actions= submit_tag 'Submit request', disabled: !@submit
