.form
  %h1.title= @form.name
  %strong
    Fields marked with an asterisk (
    %span.ast *
    ) are required.
  = form_tag action: :submit, id: @form.id do
    = fields_for :responses do |r|
      - @form.fields.each do |field|
        - if field.heading?
          .heading= field.prompt
        - elsif field.explanation?
          .explanation= field.prompt
        - else
          .field
            .label= r.label field.prompt
            - case field.data_type
              - when 'date', 'date/time', 'text', 'time'
                = r.text_field field.prompt, required: field.required?,
                  class: input_class(field.data_type), size: 45
              - when 'long-text'
                = r.text_area field.prompt, required: field.required?,
                  size: '36x4'
              - when 'number'
                = r.number_field field.prompt, required: field.required?
              - when 'yes/no'
                Yes
                = r.radio_button field.prompt, 'yes', required: field.required?
                No
                = r.radio_button field.prompt, 'no', required: field.required?
              - when 'options'
                = r.select field.prompt,
                  options_for_select(field.options),
                  include_blank: (field.required? ? 'Please select an option...' : true),
                  required: field.required?
            - if field.required
              %span.ast *
    .actions= submit_tag 'Submit request'
