!!!
%html
  %head
    %title Forms | Transportation Services | UMass Amherst
    = favicon_link_tag
    = stylesheet_link_tag 'application.css', media: 'all'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  %body
    #umass_banner
      #wordmark= image_tag 'wordmark.svg', height: 25
      #search= render partial: 'layouts/umass_search'
      - if @current_user.present?
        #links
          %a{href: '/sessions', data: {method: :delete}} Logout
        #current_user_name= @current_user.full_name
    #transportation_banner
      = image_tag 'trans-header-large.png'
    #flash
      - if flash[:message].present?
        #message= flash[:message]
      - if flash[:errors].present?
        #errors
          The following errors occurred:
          %ul
            - flash[:errors].each do |error_message|
              %li= error_message
      - if flash[:form_edit_logout_warning].present?
        #form_edit_logout_warning
          You currently have unsaved edits to a form. These changes will be lost if you log out.
          = link_to 'Discard all form edits', clear_edits_forms_path
    #content_wrapper
      #main_content= yield
    #footer= render partial: 'layouts/footer'
