!!!
%html
  %head
    %title Forms | Transportation Services | UMass Amherst
    = favicon_link_tag
    = stylesheet_link_tag 'application.css', media: 'all'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  %body
    #umass-banner
      #wordmark= image_tag 'wordmark.svg', height: 25
      #search= render partial: 'layouts/umass_search'
      #links
        = link_to 'Logout', destroy_session_path
        - if @current_user.present? && @current_user.staff?
          = link_to 'Forms', forms_path
          #current-user-name= @current_user.full_name
    #transportation-banner
      = image_tag 'trans-header-large.png'
    #flash
      - if flash[:message].present?
        #message= flash[:message]
      - if flash[:errors].present?
        #errors
          The following errors occurred:
          %ul
            - flash[:errors].each do |error_message|
              %li= error_message
    #content-wrapper
      #main-content= yield
    #footer= render partial: 'layouts/footer'
